.pla-meeting-banner {
    border-radius: 10% 10% 50% 50% / 0% 0% 9% 9%;

    .meeting-flower {
        position: absolute;
        max-width: 14.5rem;
        width: 100% !important;
        top: 12rem;

        @include media-breakpoint-down(lg) {
            max-width: 8.5rem;
            top: 13rem;
        }

        @include media-breakpoint-down(md) {
            display: none;
        }
    }

    .meeting-text {
        max-width: 67rem;
        width: 100%;
    }
}
