header {
    .logo {
        max-width: 20rem;
        width: 100%;

        @include media-breakpoint-down(md) {
            margin-top: 2rem;
            margin-bottom: 2rem;
        }
    }

    .menu-menu-principal-container .main-nav {
        display: flex !important;

        li {
            padding-bottom: 0.1rem !important;
            padding-right: 4rem !important;

            @include media-breakpoint-down(md) {
                padding-left: 2rem !important;
                padding-right: 2rem !important;
            }

            a:hover {
                color: $tertiaryColor;
            }
        }
    }

    .admin-button {
        padding: 2rem 4rem 2rem 5rem !important;
    }

    .commander-button {
        padding: 2rem 4rem !important;
        background-color: $buttonPrimColor;
        color: $white;
        font-weight: 500;
        text-decoration: none;
        font-family: "Syne";
        letter-spacing: 0rem;
        font-size: 1.6rem;

        @include media-breakpoint-down(sm) {
            padding: 1.5rem 2rem !important;
            margin-top: 2rem;
        }

        &:hover {
            background-color: $hoverColor;
        }
    }
}
