$black: #000000;
$white: #ffffff;
$primaryColor: #d2776a;
$secondaryColor: #ece2da;
$tertiaryColor: #3b8e46;
$buttonPrimColor: #dc9f96; //dark
$buttonSecColor: #e0b9b4; //light
$hoverColor: #c02e44;
$shadowColor: #e3d9d0;
